/* GENERAL */

html {
  scroll-behavior: smooth;
}
#reponsive-less-than-360 {
  display: none;
}
body {
  margin: 50px 50px 50px 50px;
  font-family: "Raleway", sans-serif;
}
html,
body {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* HEADER */

header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
header img {
  position: absolute;
  left: 0px;
}
#inscription {
  color: #0065fc;
  font-weight: bold;
  margin-left: 30px;
}
header ul {
  display: flex;
  width: 300px;
}
header ul li {
  position: relative;
  width: 50%;
  text-align: center;
}
header ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #0065fc;
  top: -60px;
  left: 0px;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
header ul li:hover:after {
  opacity: 1;
  width: 150px;
  transition: all ease-in-out 0.5s;
}
header ul a:hover {
  transition: all ease-in-out 0.5s;
  color: #0065fc;
}

/* SEARCH/FILTERS */

h2 {
  font-size: 1.4em;
  margin-bottom: 0px;
}
#search-filters p {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*  SEARCH/FILTERS -> SEARCH-BAR  */

#search-filters form {
  align-items: center;
  display: flex;

  width: fit-content;

  align-items: center;
}
.fa-map-marker-alt {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 14px;
  padding-bottom: 17px;
  background: #f2f2f2;
  font-size: 1.2em;
  padding-left: 17px;
  padding-right: 17px;
}
#search-bar {
  display: flex;
  height: 47px;
  font-size: 1.2em;
  padding-left: 15px;
  margin: 0px;
  font-weight: bold;
  border-bottom: 1px solid#F2F2F2;
  border-top: 0.5px solid#F2F2F2;
  border-left: none;
  border-right: none;
  padding-top: 0px;
  padding-bottom: 1px;
}
#search-bar:focus {
  outline: none;
}
#button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  letter-spacing: 0.8px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: #0065fc;
  height: 50px;
  padding: 0px;
  margin: -4px;
  border: none;
  width: 130px;
  cursor: pointer;
}
#button-icon {
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 15px;
  display: none;
  width: 50px;
  height: 50px;
  margin-left: -40px;
}

/* SEARCH/FILTERS -> FILTERS */

#filters {
  display: flex;
  margin-top: 20px;
  align-items: baseline;
  flex-flow: wrap;
  padding-left: 0px;
}
#filters h2 {
  margin-right: 20px;
}
.filter {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #f2f2f2;
  padding: 12px;
  padding-left: 60px;
  padding-right: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.filter:hover .icons {
  transition: all ease-in-out 0.5s;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}
.filter:hover {
  transition: all ease-in-out 0.5s;
  background: #deebff;
  color: #0065fc;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.filter i {
  font-size: 1em;
  color: #0065fc;
  background: #deebff;
}
.icons {
  position: absolute;
  display: flex;
  left: -2px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #deebff;
  border-radius: 100px;
  transition: all ease-in-out 0.5s;
}
#info {
  margin-right: 10px;
  margin-top: 20px;
  float: left;
  display: flex;
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 100px;
}
.fa-info {
  margin: auto;
  display: flex;
  font-size: 0.8em;
  color: #0065fc;
}
#search-filters p:last-child {
  margin-top: 38px;
  margin-bottom: 40px;
}

/* PLACE -> ARTICLE -> HEBERGEMENTS */

#place {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: space-between;
}
#place h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
#none {
  display: none;
}
#place article {
  padding: 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 555px;
  background: #f2f2f2;
}
#rooms {
  height: 500px;
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
}
.bedroom {
  border: 5px solid white;
  border-radius: 25px;
  margin: 0px;
  width: 230px;
  height: 190px;
  background: white;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.bedroom img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 230px;
  height: 120px;
  object-fit: cover;
}
#place h3 {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 1em;
}
.bedroom-info {
  margin-left: 10px;
}
.bedroom-info p {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 0.9em;
}
#place article p:last-child {
  font-size: 1.15em;
  font-weight: bold;
  cursor: pointer;
}
.fa-star {
  font-size: 0.8em;
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}

/* PLACE -> ASIDE -> LES PLUS POPULAIRES  */

#place aside {
  padding: 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 555px;
  background: #f2f2f2;
}
.fa-chart-line {
  font-size: 1.2em;
}
#chart {
  justify-content: space-between;
  display: flex;
}
#popular {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.popular-bedroom {
  border: 5px solid white;
  background: white;
  border-radius: 25px;
  height: 130px;
  width: 320px;
  display: flex;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.popular-bedroom img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.popular-bedroom-info {
  margin-top: 10px;
  margin-left: 20px;
}
.popular-bedroom-info p {
  font-size: 0.9em;
  margin-top: 3px;
  margin-bottom: 30px;
}

/* ACTIVITY -> ACTIVITES */

#activity {
  margin-top: 50px;
}
#block-activity {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap;
  margin-top: 30px;
}
#block-activity img {
  width: 300px;
  object-fit: cover;
}
#block-activity h3 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 1em;
  position: absolute;
  bottom: -16px;
  left: -1px;
  right: -1px;
  background-color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.block-activity-one {
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.block-activity-one,
.block-activity-two {
  width: 300px;
  height: 450px;
  border-radius: 25px;
}
.block-activity-one,
.b-a-small-one,
.b-a-small-two,
.b-a-small {
  position: relative;
}
.block-activity-two {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.block-activity-one img {
  height: 450px;
  border-radius: 25px;
}
.b-a-small-one,
.b-a-small-one img {
  height: 250px;
  border-radius: 25px;
}
.b-a-small-two,
.b-a-small-two img {
  height: 160px;
  border-radius: 25px;
}
.b-a-small,
.b-a-small img {
  height: 200px;
  border-radius: 25px;
}
.b-a-small-one,
.b-a-small-two,
.b-a-small {
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

/* FOOTER */

footer {
  display: flex;
  background: #f2f2f2;
  padding: 50px;
  margin: 50px -50px -50px -50px;
  flex-flow: wrap;
  justify-content: space-between;
  padding-right: 330px;
}
footer h3 {
  font-size: 1em;
}
footer div {
  width: auto;
}
footer p {
  cursor: pointer;
}

/* RESPONSIVE PHONE(765px) */

@media screen and (max-width: 765px) {
  body {
    margin: 0px;
  }

  /* HEADER */

  header {
    align-items: flex-start;
    height: 130px;
    width: 100%;
  }
  header img {
    top: 15px;
    left: 20px;
  }
  nav {
    width: 100%;
  }
  header ul {
    justify-content: space-around;
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding-left: 0px;
  }
  header ul li::after {
    position: absolute;
    content: "";
    width: auto;
    height: 3px;
    background: #f2f2f2;
    bottom: -20px;
    top: auto;
    left: 0px;
    right: 0px;
    opacity: 1;
  }

  header ul li:hover:after {
    width: auto;
    background: #0065fc;
    transition: all ease-in-out 0.5s;
  }
  #inscription {
    position: absolute;
    right: 20px;
    top: 30px;
  }

  /* SEARCH/FILTERS -> SEARCH-BAR */
  #search-filters {
    padding: 20px;
  }
  #search-bar {
    width: 260px;
  }
  #button {
    display: none;
  }
  #button-icon {
    display: flex;
  }

  /* SEARCH/FILTERS -> FILTERS */

  #filters {
    position: relative;

    align-content: flex-end;
  }

  .filter {
    margin-right: 10px;
    font-size: 1em;
    transition: none;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .filter:hover .icons {
    transform: rotate(0deg);
  }
  #search-filters p:last-child {
    margin-bottom: 10px;
  }

  /* PLACE -> ASIDE -> LES PLUS POPULAIRES */

  #place aside {
    height: 600px;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
  }
  #chart {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #popular {
    padding-bottom: 50px;
  }

  /* PLACE -> ARTICLE -> HEBERGEMENTS */

  #place article {
    padding: 0px;
    padding-top: 50px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    background: white;
  }
  #place article h2,
  #place article p:last-child {
    margin-left: 20px;
  }
  #rooms {
    height: auto;
    flex-direction: column;
    align-content: center;
  }
  .bedroom {
    margin-bottom: 20px;
    width: 320px;
  }
  .bedroom img {
    width: 320px;
  }

  /* ACTIVITY -> ACTIVITES */

  #block-activity {
    flex-direction: column;
    align-content: center;
  }
  #activity {
    margin-top: 50px;
  }
  #activity h2 {
    margin-left: 20px;
  }
  .block-activity-one,
  .b-a-small,
  .b-a-small-one,
  .b-a-small-two {
    width: 330px;
    height: 190px;
    margin-bottom: 20px;
  }
  .block-activity-two {
    height: auto;
  }
  #block-activity img {
    width: 330px;
    height: 190px;
  }

  /* FOOTER */

  footer {
    padding: 20px;
    margin: 0px;
    flex-direction: column;
  }
  footer div {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

/* RESPONSIVE SMALL TABLET  */

@media screen and (min-width: 765px) and (max-width: 869px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* HEADER */

  header img {
    left: 30px;
  }
  #inscription {
    margin-right: 30px;
  }
  #search-filters {
    padding: 30px;
  }

  /* PLACE */

  #place article {
    border-radius: 0px;
  }
  #place aside {
    border-radius: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  #popular {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .popular-bedroom {
    margin-bottom: 20px;
  }

  /* ACTIVITY */

  #activity h2 {
    margin-left: 30px;
  }

  /* FOOTER */

  footer {
    margin-right: 0px;
  }

  footer div {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/* RESPONSIVE SMALL SCREEN DESKTOP */

@media screen and (min-width: 1190px) and (max-width: 1408px) {
  /* PLACE */

  #place article {
    width: auto;
  }
  .bedroom {
    margin-bottom: 20px;
    width: 320px;
  }
  .bedroom img {
    width: 320px;
  }
  #place aside {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  #popular {
    flex-direction: row;
    height: auto;
  }
}

/* RESPONSIVE TABLET & SMALL SCREEN DESKTOP ->PLACE */

@media screen and (min-width: 870px) and (max-width: 1189px) {
  #place aside {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  #popular {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .popular-bedroom {
    margin-bottom: 20px;
  }
}

/* RESPONSIVE TABLET & SMALL SCREEN DESKTOP ->PLACE/ACTIVITY */

@media screen and (min-width: 757px) and (max-width: 1360px) {
  #place article {
    height: auto;
    width: 100%;
  }
  #rooms {
    height: auto;
  }
  .bedroom {
    margin-bottom: 20px;
    width: 320px;
  }
  .bedroom img {
    width: 320px;
  }
  .block-activity-one,
  .block-activity-two {
    margin-right: 60px;
    margin-left: 60px;
  }
  .block-activity-one {
    margin-bottom: 20px;
  }
  #block-activity {
    justify-content: space-around;
  }
  footer {
    padding-right: 50px;
  }
}

/* RESPONSIVE TABLET  ->  ACTIVITY/FOOTER */

@media screen and (min-width: 725px) and (max-width: 956px) {
  .block-activity-one,
  .block-activity-two {
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-activity-one {
    margin-bottom: 20px;
  }
  #block-activity {
    justify-content: space-around;
  }
}

/* RESPONSIVE TOO SMALL SCREEN */

@media screen and (max-width: 350px) {
  header,
  nav,
  #place,
  #activity,
  footer {
    display: none;
  }
  #reponsive-less-than-360 {
    display: flex;
    background: black;
    height: 100vh;
    color: white;
    font-size: x-large;
    align-items: center;
    padding: 20px;
  }
}

@media screen and (max-width: 1176px) {
  #rooms {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1089px) {
  #filters li:first-child {
    width: 100%;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 578px) {
  #filters :nth-child(3) {
    margin-right: 0px;
  }
}
